
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    color: white;
    background-color: rgba(0,90,48,.89);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     color: white;
 }

.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}


/* Image */

    .image {
        position: relative;
        display: inline-block;
        border: 0;
        outline: 0;
    }

    .image img {
        display: block;
        width: 100%;
    }

ul.main-fields {
    list-style: none;
    margin: 0;
    padding: 0;

}

ul.main-fields li label {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0.2em 0;
    font-weight: bold;
}
