/*------------------------------------*\
	COMMONS CLASSES
\*------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
}

.features,
.blog,
.gallery,
.clients,
.prefooter .container-fluid
{
    padding-top: 3.3em;
    padding-bottom: 4.2em;
}

span.typcn::before, i.typcn::before
{
    font-size: 2em;
}

span.x2:before, i.x2:before
{
    font-size: 3.4em;
}

span.x3:before, i.x3:before
{
    font-size: 4.4em;
}

span.x4:before, i.x4:before
{
    font-size: 6em;
}


/*------------------------------------*\
	HEADER
\*------------------------------------*/

header .container-fluid
{
    background-image: url('images/North-Orava-Cutting-18_small_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    /*background-size: 100% auto;*/
    padding-top: 36px;
}

.hamburger
{
    font-size: 2.3em;
    color: #FFF;
}

.hamburger:hover
{
  color: #FFF;
  cursor: pointer;
}


.logo
{
    background: none;
    border: 0px;
}

.jumbotron
{
    background: none;
    text-align: center;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron small
{
    color: #FFFFFF;
}

.jumbotron p
{
    color: #FFFFFF;
    margin-bottom: 5%;
    font-size: 1.2em;
}


/*------------------------------------*\
	SECTIONS
\*------------------------------------*/

.number .container-fluid
{
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opaline
{
    margin-top: 3.5em;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: rgba(17, 18, 18, 0.7);
}

.opalines
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(255, 255, 255, 0.6588235294117647);
}

.opaline h1,
.opaline h2,
.opaline h3,
.opaline h4,
.opaline h5,
.opaline h6,
.opaline p
{
    color: #FFFFFF;
}

.opaline .boxes
{
    margin-top: 30px;
    /*padding-top: 20px;*/
    /*padding-bottom: 5px;*/
    border: 1px solid #FFF;
    font-family: 'Roboto Slab', serif;
    /*margin-left: 6.5%;*/
    /*background-color: rgba(128, 215, 247, 0.660);*/
}

.boxes .odometer.odometer-theme-default
{
  font-family: 'Roboto Slab', serif;
}

.story .container-fluid
{
    background-image: url('images/North-Orava-Cutting-10b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accomodation .container-fluid
{
    background-image: url('images/gallery/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3.3em;
    padding-bottom: 4.2em;
}

.gallery
{
    background-color: #dddddd;
}

.prefooter .container-fluid
{
    background: linear-gradient(
      rgba(33, 37, 43, 0.6),
      rgba(33, 37, 43, 0.6)
    ),

    url('images/gallery/North-Orava-Cutting-07.jpg');
}

.prefooter h1,
.prefooter h2,
.prefooter h3,
.prefooter h4,
.prefooter h5,
.prefooter h6,
.prefooter p
{
    color: #FFFFFF;
}

/*------------------------------------*\
	FOOTER
\*------------------------------------*/

footer
{
    background-color: rgba(36, 50, 59, 1);
    padding-top: 2em;
    padding-bottom: 1.2em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p
{
    color: #FFFFFF;
}

.social
{
    padding-top: 40px;
}


/* Image */

    .image {
        position: relative;
        display: inline-block;
        border: 0;
        outline: 0;
    }

        .image img {
            display: block;
            width: 100%;
        }

        .image.fit {
            display: block;
            width: 100%;
        }

        .image.featured {
            display: block;
            width: 100%;
            margin: 0 0 4em 0;
        }

        .image.left {
            float: left;
            margin: 0 2em 2em 0;
        }

        .image.centered {
            display: block;
            margin: 0 0 2em 0;
        }

            .image.centered img {
                margin: 0 auto;
                width: auto;
            }

.custom{
  margin-top:8em;
  display: block;
  /*margin: 5em auto;*/
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    margin-top: 25px;
    /*height: 0;*/
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
   width: 100% !important;
}
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
    margin: 0 auto;
}

#fbpage{
/*    width: 280px;
    height: 350px;
    background-color: #e5e5e5;*/
 }


.header-languages {
    float: left;
    padding: 15px 0;
}
@media screen and (max-width: 39.9375em) {
    .header-languages {
        padding: 20px 0;
    }
}
.header-languages ul {
    margin: 0;
    font-size: 0;
}
.header-languages ul li,
.header-languages ul li a,
.header-languages ul li a span {
    display: inline-block;
}
.header-languages ul li {
    margin: 0 4px;
}
@media screen and (max-width: 39.9375em) {
    .header-languages ul li {
        margin: 0 2px;
    }
}
.header-languages ul li a {
    padding: 11px;
    color: #d6a876;
    /*border: 1px solid #FFFFFF;*/
}
@media screen and (max-width: 39.9375em) {
    .header-languages ul li a {
        padding: 6px;
    }
}
.header-languages ul li.active a,
.header-languages ul li a:hover {
    color: #fff;
    border: 1px solid #FFFFFF;
}
.header-languages ul li a span {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}